@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

.clear {
    clear: both;
}

header {
    background-color: #000;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 2%;
}

header .logo {
    padding-left: 50px;
}

header .logo img {
    width: 183px;
    height: 100px;
}

.title-style {
    padding: 60px 0;
    font-size: 27px;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    color: #192123;
    border-bottom: 3px solid #192123;
}

nav.menu-style ul {
    list-style: none;   
}

nav.menu-style ul li {
    font-size: 23px;
    font-style: italic;
    text-transform: uppercase;
}

nav.menu-style ul li a {
    text-decoration: none;
    color: #fff;
}

nav.menu-style ul li:first-of-type a {
    color: #eb2d2d;
    font-weight: bold;
}

nav.mobile-menu {
    display: none;
    margin-top: 30px;
    margin-right: 20px;
    width: 32px;
    height: 32px;
    background-image: url('../images/menu.png');
    background-size: 100% 100%;
    cursor: pointer;
}

nav.mobile-menu ul {
    position: absolute;
    left: 0;
    top: 95px;
    z-index: 2;
    display: none;
    width: 100%;
    text-align: center;
    background-color: #000;
    border-bottom: 4px solid #eb2d2d;
}

nav.mobile-menu ul li {
    padding: 20px 0;
}

nav.desktop-menu ul {
    display: flex;
}

nav.desktop-menu ul li {
    padding: 30px 20px;
}

section.banner {
    width: 100%;
    height: 650px;
    background-color: #000;
    background-image: url('../images/bg.jpg');
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
    overflow: hidden;
    border-bottom: 5px solid #eb2d2d;
}

.banner-text {
    padding: 30px 70px;
}

.banner-text-item {
    margin-top: 30px;
    padding-left: 50px;
    width: 314px;
    height: 70px;
    line-height: 70px;
    font-size: 23px;
    font-style: italic;
    text-transform: uppercase;
    color: #fff;
    background-image: url('../images/box-text.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner-text-item:nth-of-type(2) {
    position: relative;
    left: -10px;
    width: 200px;
}

.banner-text-item:nth-of-type(3) {
    position: relative;
    left: -20px;
    width: 170px;
}

.banner-text-item:nth-of-type(4) {
    position: relative;
    left: -30px;
    height: 50px;
    line-height: 50px;
    text-transform: lowercase;
    color: #000;
    background-image: url('../images/box-white-text.png');
}

section.destaque {
    padding: 0 2% 90px 2%;
    background-color: rgb(230, 220, 220);
}

section.destaque .container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.destaque-veiculo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.destaque-veiculo .destaque-veiculo-img {
    padding-top: 40%;
    width: 80%;
    background-size: 100% 100%;
    border-radius: 5px 5px 0 0; 
}

.destaque-veiculo-info {
    padding: 20px;
    width: 80%;
    background-color: #eb2d2d;
    border-radius: 0 0 5px 5px;
    transition: 0.5S;
}

.destaque-veiculo-info a {
    text-decoration: none;
    color: #fff;
}

.destaque-veiculo-info h3 {
    font-size: 18px;
    text-transform: uppercase;
}

.destaque-veiculo-info p {
    font-size: 14px;
}

.destaque-veiculo-info:hover {
    background-color: #192123;

}

section.servicos-depoimentos {
    display: flex;
}

.left-box,
.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px;
    width: 50%;
    color: #f5f5f5;
}

.left-box h2,
.right-box h2 {
    font-size: 27px;
    font-style: italic;
}

.right-box h2 {
    width: 100%;
}

.left-box {
    background-color: #eb2d2d;
}

.left-box ul {
    margin-top: 20px;
    margin-left: 40px;
}

.right-box {
    background-color: #192123;
}

.right-box .depoimento-item {
    margin-top: 20px;
}

.depoimento-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.depoimento-nav img {
    margin: 0 10px;
    cursor: pointer;
}

section.contato {
    padding: 0 2% 90px 2%;
    background-color: rgb(230, 220, 220);
}

section.contato form {
    margin: 50px auto;
    max-width: 600px;
}

section.contato form .input-wraper {
    float: left;
    margin-top: 8px;
    padding: 10px;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

section.contato form input[type=text],
section.contato form input[type=email],
section.contato form input[type=number] {
    padding-left: 15px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section.contato form textarea {
    width: 100%;
    height: 120px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

section.contato form .input-wraper:nth-of-type(5) {
    text-align: center;
}

section.contato form input[type=submit] {
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: #f5f5f5;
    background-color: #192123;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

section.contato form input[type=submit]:hover {
    background-color: #eb2d2d;
}

footer .container {
    display: flex;
    justify-content: space-between;
    background-color: #192123;
}

footer p {
    padding: 30px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    header .logo {
        padding-left: 30px;
    }
    
    nav.desktop-menu {
        display: none;
    }
    
    nav.mobile-menu {
        display: block;
    }

    section.banner {
        height: 80vh;
        background-size: cover;
        background-position: 100px center;
    }

    section.destaque .container {
        flex-direction: column;
        align-items: center;
    }

    .destaque-veiculo {
        width: 90%;
        margin-top: 20px;
    }

    section.servicos-depoimentos {
        flex-direction: column;
    }

    .left-box,
    .right-box {
        width: 100%;
    }

    .w50 {
        width: 100%;
    }

    footer p {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 580px) {
    .banner-text {
        padding: 30px;
    }

    .banner-text-item {
        width: 240px;
        font-size: 18px;
    }

    .banner-text-item:nth-of-type(4) {
        width: 270px;
    }

    section.destaque > h2 {
        font-size: 23px;
    }

    .destaque-veiculo {
        width: 100%;
    }

}
