/*=============
==== GERAL ====
=============*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
    --color-soft-dark: #192123;
    --color-paper: #f5f5f5;
    --color-racing-red: #eb2d2d;
    --color-white-bg: #ebeced;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

.clear {
    clear: both;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 2%;
}

header .logo {
    padding-left: 50px;
}

header .logo img {
    width: 183px;
    height: 100px;
}

.dark-header {
    background-color: var(--color-soft-dark);
}

.title-style {
    padding: 60px 0;
    font-size: 27px;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-soft-dark);
    border-bottom: 3px solid var(--color-soft-dark);
}

.btn {
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: var(--color-paper);
    background-color: var(--color-soft-dark);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--color-racing-red);
}

/*=================
==== NAVEGAÇÃO ====
=================*/

nav.menu-style ul {
    list-style: none;
}

nav.menu-style ul li {
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
}

nav.menu-style ul li a {
    text-decoration: none;
    color: var(--color-paper);
}

nav.mobile-menu {
    display: none;
    margin-top: 30px;
    margin-right: 20px;
    width: 32px;
    height: 32px;
    background-image: url('../images/menu.png');
    background-size: 100% 100%;
    cursor: pointer;
}

nav.mobile-menu ul {
    position: absolute;
    left: 0;
    top: 150px;
    display: none;
    width: 100%;
    text-align: center;
    background-color: var(--color-soft-dark);
    border-bottom: 4px solid var(--color-racing-red);
    opacity: 0.9;
}

nav.mobile-menu ul li {
    padding: 20px 0;
}

nav.desktop-menu ul {
    display: flex;
}

nav.desktop-menu ul li {
    padding: 30px 20px;
}


/*==================
==== index.html ====
==================*/

/*==============
==== BANNER ====
==============*/

section.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 650px;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-bottom: 5px solid var(--color-racing-red);
}

.banner-text {
    padding: 30px 70px;
}

.banner-text-item {
    position: relative;
    margin-top: 30px;
    padding-left: 50px;
    width: 314px;
    height: 70px;
    line-height: 70px;
    font-size: 23px;
    font-style: italic;
    text-transform: uppercase;
    color: var(--color-paper);
    background-image: url('../images/box-text.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.banner-text-item:nth-of-type(2) {
    left: -10px;
    width: 200px;
}

.banner-text-item:nth-of-type(3) {
    left: -20px;
    width: 170px;
}

.banner-text-item:nth-of-type(4) {
    left: -30px;
    height: 50px;
    line-height: 50px;
    text-transform: lowercase;
    color: var(--color-soft-dark);
    background-image: url('../images/box-white-text.png');
}

.banner *{
    z-index: 1;
}

.banner::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: var(--color-soft-dark);
    opacity: 0.3;
}

/*================
==== DESTAQUE ====
================*/

section.featured {
    padding: 0 2% 90px 2%;
    background-color: var(--color-white-bg);
}

section.featured .container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.featured-vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.featured-vehicle .featured-vehicle-img {
    padding-top: 40%;
    width: 80%;
    background-size: 100% 100%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.featured-vehicle-info {
    padding: 20px;
    width: 80%;
    color: var(--color-paper);
    background-color: var(--color-racing-red);
    border-radius: 0 0 3px 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5S;
}

.featured-vehicle-info h3 {
    font-size: 18px;
    text-transform: uppercase;
}

.featured-vehicle-info p {
    font-size: 14px;
}

.featured-vehicle-img:hover + .featured-vehicle-info,
.featured-vehicle-info:hover {
    background-color: var(--color-soft-dark);
}


/*=============
==== MODAL ====
=============*/

.modal-overlay {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
}

.modal {
    position: relative;
    margin: 5vh auto;
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
}

.modal .close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--color-soft-dark);
    cursor: pointer;
}

.modal .material-icons:hover {
    color: var(--color-racing-red);
}

.modal-content {
    height: 90%;
}

.modal-content h2 {
    margin: 10px 0;
    padding: 20px;
    border: none;
}

.modal-content-wraper {
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.modal-content-wraper img {
    width: 60%;
    border-radius: 3px;
}

.modal-content-right .btn {
    margin: 35px;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

/*===================
==== DEPOIMENTOS ====
===================*/

section.services-and-testimonials {
    display: flex;
}

.left-box,
.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px;
    width: 50%;
    color: var(--color-paper);
}

.left-box h2,
.right-box h2 {
    font-size: 27px;
    font-style: italic;
}

.right-box h2 {
    width: 100%;
}

.left-box {
    background-color: var(--color-racing-red);
}

.left-box ul {
    margin-top: 20px;
    margin-left: 40px;
}

.right-box {
    background-color: var(--color-soft-dark);
}

.right-box .testimonial-item {
    margin-top: 20px;
}

.testimonial-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.testimonial-nav img {
    margin: 0 10px;
    cursor: pointer;
}


/*===============
==== CONTATO ====
===============*/

section.contact {
    padding: 0 2% 90px 2%;
    background-color: var(--color-white-bg);
}

section.contact form {
    margin: 50px auto;
    max-width: 600px;
}

section.contact form .input-wraper {
    float: left;
    margin-top: 8px;
    padding: 10px;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

section.contact form input[type=text],
section.contact form input[type=email],
section.contact form input[type=number] {
    padding-left: 15px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: var(--color-paper);
    border: 1px solid #ccc;
    border-radius: 5px;
}

section.contact form textarea {
    width: 100%;
    height: 120px;
    padding: 15px;
    background-color: var(--color-paper);
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

section.contact form input[type=text]:focus,
section.contact form input[type=email]:focus,
section.contact form input[type=number]:focus,
section.contact form textarea:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 5px #aaa;
    box-shadow: 0px 0px 5px #aaa;
}

section.contact form .input-wraper:nth-of-type(5) {
    text-align: center;
}

/*==============
==== FOOTER ====
==============*/

footer {
    background-color: var(--color-soft-dark);
    border-top: 5px solid var(--color-racing-red);
}

footer .container {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-soft-dark);
}

footer p {
    padding: 30px;
    color: var(--color-paper);
}

/*==================
==== sales.html ====
==================*/

section.sales {
    padding: 0 2% 90px 2%;
    min-height: 90%;
    background-color: var(--color-white-bg);
}

section.sales .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

section.sales .featured-vehicle {
    margin-bottom: 40px;
}

/*==================
==== about.html ====
==================*/

section.about {
    padding: 0 2% 90px 2%;
    min-height: 90%;
    background-color: var(--color-white-bg);
}

section.about .container {
    margin-top: 80px;
    max-width: 850px;
}

section.about .featured-img {
    padding-top: 60%;
    width: 100%;
    background-image: url(../images/store.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
}

section.about .dealership-description {
    margin-top: 20px;
}

.dealership-description p {
    margin-top: 10px;
}

.owner-description {
    display: flex;
    margin-top: 40px;
}

.owner-img {
    padding-top: 30%;
    width: 30%;
    background-image: url(../images/owner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.owner-description p {
    margin-top: 20px;
    margin-left: 5%;
    width: 65%;
}

/*==============
==== MOBILE ====
==============*/

@media screen and (max-width: 768px) {
    header .logo {
        padding-left: 30px;
    }

    nav.desktop-menu {
        display: none;
    }

    nav.mobile-menu {
        z-index: 2;
        display: block;
    }

    section.banner {
        height: 80vh;
    }

    section.featured .container {
        flex-direction: column;
        align-items: center;
    }

    .featured-vehicle {
        width: 90%;
        margin-top: 20px;
    }

    .modal-content-wraper {
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }

    section.services-and-testimonials {
        flex-direction: column;
    }

    .left-box,
    .right-box {
        width: 100%;
    }

    .w50 {
        width: 100%;
    }

    footer p {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 580px) {
    .banner-text {
        padding: 30px;
    }

    .banner-text-item {
        margin-left: 50px;
        width: 240px;
        font-size: 18px;
    }

    .banner-text-item:nth-of-type(4) {
        width: 270px;
    }

    section.featured > h2 {
        font-size: 23px;
    }

    .featured-vehicle {
        width: 100%;
    }

    .modal-content-wraper img {
        width: 80%;
    }

    .owner-description {
        flex-direction: column;
        align-items: center;
    }

    .owner-img {
        padding-top: 60%;
        width: 60%;
    }
    
    .owner-description p {
        
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .modal-content-wraper img {
        width: 90%;
    }
}