<form action="/contact" method="POST">
    <div class="input-wraper">
        <input
            name="name"
            type="text"
            placeholder="Seu nome"
            required="required"
        >
    </div>

    <div class="input-wraper">
        <input
            name="email"
            type="email"
            placeholder="Seu e-mail"
            required="required"
        >
    </div>

    <div class="input-wraper">
        <input
            name="phone"
            type="number"
            placeholder="Seu telefone"
            required="required"
        >
    </div>

    <div class="input-wraper">
        <textarea
            name="message"
            placeholder="Deixe sua mensagem"
            required="required"></textarea>
    </div>

    <div class="input-wraper">
        <input class="btn" type="submit" value="Enviar">
    </div>
</form>