<header>
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="Logotipo de Lorem Ipsum Veículos">
            </a>
        </div>

        <nav class="desktop-menu menu-style">
            <ul>
                <li><a href="/stock">Estoque</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </nav>

        <nav class="mobile-menu menu-style">
            <ul>
                <li><a href="/stock">Estoque</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>