<header>
    <div class="container">
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="Logotipo de Lorem Ipsum Veículos"></a>
        </div>

        <nav class="admin-menu desktop-menu menu-style">
            <ul>
                <li>
                    <a href="/vehicles">
                        <i class="material-icons">directions_car</i>
                        Frota
                    </a>
                </li>
                <li>
                    <a href="/messages">
                        <i class="material-icons">announcement</i>
                        Mensagens
                    </a>
                </li>
                <li>
                    <a href="/accounts">
                        <i class="material-icons">account_circle</i>
                        Conta
                    </a>
                </li>
            </ul>
        </nav>

        <nav class="mobile-menu menu-style">
            <ul>
                <li>
                    <a href="/vehicles">
                        <i class="material-icons">directions_car</i>
                        Frota
                    </a>
                </li>
                <li>
                    <a href="/messages">
                        <i class="material-icons">announcement</i>
                        Mensagens
                    </a>
                </li>
                <li>
                    <a href="/accounts">
                        <i class="material-icons">account_circle</i>
                        Conta
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>