<div class="item">
    <div>Imagens do veículo (até 05 fotos)</div>
    <div id="photos-container">
        <div id="photos-upload">
            <input
                id="photos-input"
                type="file"
                name="photos"
                multiple
                accept="images/*"
            >
            <i class="material-icons">add</i>
        </div>
    </div>
</div>

<div class="item">
    <div>Nome</div>
    <div>
        <input
            type="text"
            name="name"
            placeholder="Nome do veículo"
            value="{{vehicle.name}}"
        >
    </div>
</div>

<div class="item">
    <div>Marca</div>
    <div>
        <input
            type="text"
            name="manufacturer"
            placeholder="Marca do veículo"
            value="{{vehicle.manufacturer}}"
        >
    </div>
</div>

<div class="item">
    <div>Modelo</div>
    <div>
        <input
            type="text"
            name="model"
            placeholder="Modelo do veículo"
            value="{{vehicle.model}}"
        >
    </div>
</div>

<div class="item">
    <div>Versão</div>
    <div>
        <input
            type="text"
            name="version"
            placeholder="Versão do veículo"
            value="{{vehicle.version}}"
        >
    </div>
</div>

<div class="item">
    <div>Ano</div>
    <div>
        <input
            type="text"
            name="year"
            placeholder="Ano de fabricação"
            value="{{vehicle.year}}"
        >
    </div>
</div>

<div class="item">
    <div>Combustível</div>
    <div>
        <input
            type="text"
            name="fuel"
            placeholder="Tipo de combustível"
            value="{{vehicle.fuel}}"
        >
    </div>
</div>

<div class="item">
    <div>Valor</div>
    <div>
        <input
            type="text"
            name="price"
            placeholder="Preço do veículo"
            value="{{vehicle.price}}"
        >
    </div>
</div>