section.about.container {
    margin: 40px auto;
    max-width: 850px;
}

section.about.container h2 {
    text-align: center;
}

section.about .featured-img {
    padding-top: 60%;
    width: 100%;
    background-image: url(../images/store.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
}

section.about .dealership-description {
    margin-top: 20px;
}

.dealership-description p {
    margin-top: 10px;
}

.owner-description {
    display: flex;
    margin-top: 40px;
}

.owner-img {
    padding-top: 30%;
    width: 30%;
    background-image: url(../images/owner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.owner-description p {
    margin-top: 20px;
    margin-left: 5%;
    width: 65%;
}