section.form {
    margin: 32px auto;
    padding: 32px 24px;
    width: 90%;
    max-width: 700px;
    background-color: var(--color-paper);
    border: 1px solid #ccc;
    border-radius: 4px;
}

section.form .header h3 {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .8px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-racing-red);
}

form .fields {
    margin-bottom: 64px;
}

form .item {
    margin-top: 24px;
}

form .item>div {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #777;
}

form .item input {
    padding: 8px 16px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: var(--color-paper);
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

form .item #photos-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 6px;
    margin: 10px 0;
}

form .item #photos-upload, form .item #photos-preview .photo img {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
}

form #photos-upload i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 40px;
}

form #photos-input:hover+i {
    color: var(--color-racing-red);
}