@media screen and (max-width: 768px) {
    header .logo {
        padding-left: 30px;
    }
    nav.desktop-menu {
        display: none;
    }
    nav.mobile-menu {
        z-index: 2;
        display: block;
    }
    section.featured .container {
        flex-direction: column;
        align-items: center;
    }
    .vehicle {
        width: 90%;
        margin-top: 20px;
    }
    section.vehicle .container {
        grid-template-columns: 1fr;
    }
    .vehicle-photo, .vehicle-info {
        padding: 8px;
    }
}

@media screen and (max-width: 580px) {
    section.featured>h2 {
        font-size: 23px;
    }
    .vehicle {
        width: 100%;
    }
    .owner-description {
        flex-direction: column;
        align-items: center;
    }
    .owner-img {
        padding-top: 60%;
        width: 60%;
    }
    .owner-description p {
        margin-left: 0;
        width: 100%;
    }
}