section.vehicle .container {
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.vehicle-photo {
    padding: 32px;
}

.vehicle-photo img {
    width: 100%;
    border-radius: 4px;
}

.vehicle-info {
    padding: 32px;
}

.vehicle-info .item {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.vehicle-info .item:last-of-type {
    margin-bottom: 32px;
}

.vehicle-info .item div:nth-of-type(1) {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    color: var(--color-racing-red);
}

.vehicle-info .item div:nth-of-type(2) {
    text-indent: 4px;
    color: #555;
}

.vehicle-info button {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 50px;
}