{% extends "layout.njk" %}

{% block head %}
    <title>Sobre | Lorem Ipsum Veículos</title>
{% endblock %}

{% block content %}
{% include "parts/header.njk" %}

    <section class="about">
        <h2 class="title-style">Sobre</h2>
        <div class="container">
            <div class="featured-img"></div>

            <div class="dealership-description">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eos exercitationem laborum, in sint
                    dignissimos nemo nobis, voluptas est a accusamus debitis dicta dolore deleniti reprehenderit
                    repellat illo consectetur optio libero aspernatur ullam repellendus sunt ad. Vitae blanditiis,
                    pariatur ullam repellat enim iusto excepturi! Voluptate hic, cumque sint explicabo repellat nisi
                    accusamus sapiente saepe placeat quia quas consectetur optio quis molestias ducimus distinctio
                    suscipit ratione. Cumque eum adipisci officia, nam recusandae architecto? Sint fugit minima esse
                    laborum cum. Recusandae similique dolore numquam natus deserunt, repellat magni suscipit cupiditate
                    quae atque. Quae, placeat magni ullam natus laborum magnam quod cumque quia.
                </p>
            </div>

            <div class="owner-description">
                <div class="owner-img"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac tincidunt lorem. Nulla
                    condimentum et dolor et convallis. Mauris egestas ligula in pharetra venenatis. Etiam pharetra ipsum
                    libero. Nulla condimentum et dolor et convallis. Mauris egestas ligula in pharetra venenatis.
                </p>
            </div>
        </div>
    </section>
{% endblock %}