{% extends "layout.njk" %}

{% block content %}
    <section class="banner">
        {% include "parts/header.njk" %}

        <div class="container">
            <div class="banner-text">
                <div class="banner-text-item">consultoria</div>
                <div class="banner-text-item">compra</div>
                <div class="banner-text-item">venda</div>
                <div class="banner-text-item">email@email.com</div>
            </div>
        </div>
    </section>

    <section class="featured">
        <h2 class="title-style">destaques</h2>

        <div class="container">
            {% include "parts/vehicles.njk" %}
        </div>
    </section>

    <section class="services-and-testimonials">
        <div class="left-box">
            <h2>Serviços</h2>
            <ul>
                <li>Compra</li>
                <li>Venda</li>
                <li>Consultoria</li>
                <li>Importação</li>
            </ul>
        </div>

        <div class="right-box">
            <h2>Depoimentos</h2>
            <div class="testimonial-item">
                <p>
                    “Serviço de excelência, me buscou no aeroporto e garantiu toda comodidade e conforto no almoço, no
                    transfer, na visita ao veículo e durante o test-drive.”
                </p>

                <div class="testimonial-nav">
                    <div class="testimonial-arrows">
                        <img src="images/arrow-left.png" alt="ícone seta">
                        <img src="images/arrow-right.png" alt="ícone seta">
                    </div>
                    <div class="testimonial-name">
                        <p>Lorem da Silva</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <h2 class="title-style">contato</h2>

        <form action="/index" method="POST">
            <div class="input-wraper w100">
                <input name="name" type="text" placeholder="*Seu nome" required>
            </div>
            <div class="input-wraper w50">
                <input name="email" type="email" placeholder="*Seu e-mail" required>
            </div>
            <div class="input-wraper w50">
                <input name="phone" type="number" placeholder="*Seu telefone" required>
            </div>
            <div class="input-wraper w100">
                <textarea name="message" placeholder="Deixe sua mensagem"></textarea>
            </div>
            <div class="input-wraper w100">
                <input class="btn" type="submit" value="Enviar">
            </div>

            <div class="clear"></div>
        </form>
    </section>
{% endblock %}
