{% extends "layout.njk" %}

{% block head %}
    <title>Vendas | Lorem Ipsum Veículos</title>
{% endblock %}


{% block content %}
    {% include "parts/header.njk" %}

    <section class="sales">
        <h2 class="title-style">Vendas</h2>

        <div class="container">
           {% include "parts/vehicles.njk" %}
        </div>
    </section>
{% endblock %}