<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Página de Venda de Automóveis">
    <meta name="author" content="Rafael Martins">
    {% include "templates/includes/styles-admin.njk" %}

    {% block head %}
        <title>Fast Cars</title>
    {% endblock %}
</head>

<body>
    {% include "templates/includes/header-admin.njk" %}

    {% block content %}
    {% endblock %}

    {% include "templates/includes/footer.njk" %}
    {% include "templates/includes/scripts.njk" %}
</body>
</html>