<footer>
    <div class="container">
        <nav class="desktop-menu menu-style">
            <ul>
                <li><a href="/index">home</a></li>
                <li><a href="/sales">vendas</a></li>
                <li><a href="/about">sobre</a></li>
                <li><a href="#" goto="contact" class="to-contact contact-selected">contato</a></li>
            </ul>
        </nav>

        <p>Todos os direitos reservados.</p>
    </div>
</footer>