<form action="/index" method="POST">
    <div class="input-wraper w100">
        <input name="name" type="text" placeholder="*Seu nome" required="required">
    </div>
    <div class="input-wraper w50">
        <input name="email" type="email" placeholder="*Seu e-mail" required="required">
    </div>
    <div class="input-wraper w50">
        <input name="phone" type="number" placeholder="*Seu telefone" required="required">
    </div>
    <div class="input-wraper w100">
        <textarea name="message" placeholder="Deixe sua mensagem" required="required"></textarea>
    </div>
    <div class="input-wraper w100">
        <input class="btn" type="submit" value="Enviar">
    </div>

    <div class="clear"></div>
</form>