<header>
    <div class="container">
        <div class="logo">
            <a href="/index"><img src="/images/logo.png" alt="Logotipo de Lorem Ipsum Veículos"></a>
        </div>

        <nav class="desktop-menu menu-style">
            <ul>
                <li><a href="/index">home</a></li>
                <li><a href="/sales">vendas</a></li>
                <li><a href="/about">sobre</a></li>
                <li><a href="#" goto="contact" class="contact-selected">contato</a></li>
            </ul>
        </nav>

        <nav class="mobile-menu menu-style">
            <ul>
                <li><a href="/index">home</a></li>
                <li><a href="/sales">vendas</a></li>
                <li><a href="/about">sobre</a></li>
                <li><a href="#" goto="contact">contato</a></li>
            </ul>
        </nav>
    </div>
</header>